body {
  padding: 0 0em 0em 0em;
  margin: .2em;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #000;
  background-color: #FFF;
}
ul{
  display: flex;
  justify-content: space-evenly;
}
nav ul {
  list-style: none;
  padding: 1em;
  background-image: radial-gradient(#1e90cc, #0a3246);
  border-radius: 1em;
}
nav a:link, nav a:visited {
  color: #FFF;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #FFF;
  text-decoration: underline;
}
nav a.active {
  color: #FFF;
}

h1 {
  font-size: 5em;
  text-align: center;
  padding-top: .7em;
  padding-left: .9em;
  color: #1e90cc;
  text-emphasis:
}

h2 {
  font-size: .9em;
  text-align: center;
  padding-left: .9em;
  color: #0a3246;
}

h3 {
  font-size: 1.6em;
  text-decoration: underline;
  text-decoration-color: #1e90cc;
}

h4 {
  font-size: 1.6em;
  text-decoration: underline;
  text-decoration-color: #1e90cc;
}

h5 {
  font-size: 1.1em;
  color: white;
  text-align: center;
  padding-top: 2em;
  text-decoration: underline;
  text-decoration-color: #0a3246;
}

h6 {font-size: 1em;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin-top: .67em;
  margin-bottom: .67em;
}
p {
  font-size: 1em;
  margin-top: .67em;
  margin-bottom: .67em;
}
/*-- ----------------
- START GRID STYLES -
--------------------*/
.grid-container {
  padding: 0em;
/*-- enables grid layout--*/
  display: grid;
  grid-gap: 0em 0em;
  grid-template-columns: repeat(3, 1fr);
}
/*-- Old Layout Method
.grid-item {
  display: inline-block;
  width: 31.5%;
  margin-right: 1em;
}--*/
.grid-item {
  padding: .1em;
}

.grid-container {
  grid-template-areas:
                      "head head head"
                      "col1 col1 col1"
                      "col1 col1 col1"
                      "col2 col3 col4"
                      "col2 col3 col4"
                      "col2 col3 col4"
}
.one {
  grid-area: head;
  background-color: white;
  margin: 0em;
}
.two {
  grid-area: col1;
  background-color: white;
  color: #1e90cc;
  grid-template-rows: 50px;
}
.three {
  grid-area: col2;
  background-image: linear-gradient(white, #1e90cc);
  color: #0a3246;
  margin: .5em;
  border-radius: 1em;
  padding: 5px;

}
.four {
  grid-area: col3;
  margin: .5em;
  color: #0038A8;
  border-radius: 1em;
  padding: 5px;

}
.five {
  grid-area: col4;
  margin: .5em;
  color: #0a3246;
  border-radius: 1em;
  padding: 5px;
  background-image: linear-gradient(white, #1e90cc);
}
@media (max-width: 640px) {
  .grid-container {
    display: block;
  }
  .one img {

  }
  h1 {
    position: relative;
  }
}
.pic1{
  width: 30%
}

.stoolpic{
  margin-top: 1em;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2em;
    margin-left: 6em;
}
.video iframe, .videos object, .video embed {
    top:0;
    left:0;
    width:90%;
    height:80%;
    position:absolute;
}
