body {
  color: #444;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
  background-color: #F0F0F0;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #008B8B;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
.flex-container {

}
@media screen and (min-width: 550px) {
  .flex-container {flex-direction: row;}
}
